<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">REDIG</h1>
        <p class="lead">REDIG es el Repositorio Institucional Digital del Instituto Universitario de Gendarmería Nacional perteneciente a la Dirección de Educación e Institutos de la Fuerza. REDIG gestiona, preserva y asegura las contribuciones digitalizadas que se depositen. El Sistema Educativo de Gendarmería Nacional es congruente a las políticas nacionales en materia de educación superior y se ajusta a la normativa vigente. En tal sentido, con el fin de impulsar y contribuir con las políticas de acceso abierto a las producciones científicas; REDIG cuenta con el presente sistema de autoarchivo.</p>
      </div>
    </div>
  </div>
</div>
